.register{
  background-color:#eee7e7; 
 
  .form_header{
    height:150px;
    text-align: center;
    line-height: 150px;
    .logo{
      height: 40.55px;
      width: 170px;
      background:$l-color;
      background-repeat: no-repeat;
      background-size: 140px;
      margin: 0 auto ;
      position: absolute;
      top:50px;
      left: calc(50vw - 85px);
    }
  }
  .register_content{
    background-color:#ffffff;
    height:450px;
    margin:0 250px;
    &__head{
      border-bottom: 1px solid #eee7e7;
      height:100px;
      font-size:40px;
      font-weight:bold;
      font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
      text-align: center;
    }
    &__main{
      height:300px;
      text-align: center;
      margin:30px;
      display:flex;
      flex-direction: column;
    }
  }
      .btn-mail{
        font-size: 30px;
        background-color: red;
        font-family: "kosugi";
        border-radius:10px;
        height:60px;
        width:60%;
        margin:20px auto;
        a{
          color:white;
          text-decoration: none;
        }
      }
      .btn-sns-facebook{
        font-size:30px;
        background-color:blue;
        font-family: "kosugi";
        border-radius:10px;
        height:60px;
        width:60%;
        margin:20px auto;
        a{
          color:white;
          text-decoration: none;
        }
      }
      .btn-sns-google{
        font-size:30px;
        background-color:#ffffff;
        font-family: "kosugi";
        border-radius:10px;
        height:60px;
        width: 60%;
        margin:20px auto;
        a{
          color:black;
          text-decoration: none;
        }
      }
  .form_footer{
    height:200px;
    .nav{
      font-size:15px;
      text-align: center;
      color:black;
      text-decoration: none;
      }
        ul{
          display: flex;
          justify-content: center;
        }
          a{
            color: black;
            text-decoration: none;
            margin-left: 20px;
          }
    .footer-logo{
      height: 40.55px;
      width:150px;
      margin:40px auto 0;
      background:$l-color;
      background-repeat: no-repeat;
      background-size: 150px;
      }
    .small{
      text-align: center;
      }
    }
  }
