.app_banner__content
  .app_banner__content__subtitle
    だれでもかんたん、人生を変えるフリマアプリ
  .app_banner__content__text
    今すぐ無料ダウンロード！
  .app_banner__content__btn
    .a_btn
      = link_to "#" do
        = image_tag 'pict/app-store.svg'
    .b_btn
      = link_to "#" do
        = image_tag 'pict/google-play.svg'
