.main_visual__content
  .main_visual__content__subtitle
    人生を変えるフリマアプリ
  .main_visual__content__text
    FURIMAはだれでもかんたんに出品・購入できる
    %br/
    フリマアプリです
  .main_visual__content__btn
    .a_btn
      = link_to "#" do
        = image_tag 'pict/app-store.svg'
    .b_btn
      = link_to "#" do
        = image_tag 'pict/google-play.svg'
