.pickup_container
  .pickup_container__head
    ピックアップカテゴリー
  .pickup_container__title
    新規投稿商品
  .pickup_container__lists
    = render partial: 'share/item'

.pickup_container
  .pickup_container__head
    ピックアップブランド
  .pickup_container__title
    新規投稿商品
  .pickup_container__lists
    = render partial: 'share/item'