%nav.side-bar
  %ul.side-bar__list
    %li
      %a.active{href: "/"} マイページ
    %li
      %a{href: "#"} お知らせ
    %li
      %a{href: "/item"} 商品購入確認ページ
    %li
      %a{href: "#"} いいね！一覧
    %li
      %a{href: "#"} 出品する
    %li
      %a{href: "#"} 出品した商品-出品中
    %li
      %a{href: "#"} 出品した商品-取引中
    %li
      %a{href: "#"} 出品した商品-売却済み
    %li
      %a{href: "#"} 購入した商品-取引中
    %li
      %a{href: "#"} 購入した商品-過去の取引
    %li
      %a{href: "#"} ニュース一覧
    %li
      %a{href: "#"} 評価一覧
    %li
      %a{href: "#"} ガイド
    %li
      %a{href: "#"} お問い合わせ
  クレジットカード
  %ul.side-bar__list
    %li
      %a{href: "/credit/new"} クレジットカードのご登録
    %li
      %a{href: "/credit/id"} クレジットカード情報の変更
  設定
  %ul.side-bar__list
    %li
      %a{href: "#"} プロフィール
    %li
      %a{href: "#"} 発送元・お届け住所変更
    %li
      %a{href: "#"} 支払い方法
    %li
      %a{href: "#"} メール/パスワード
    %li
      %a{href: "#"} 本人情報
    %li
      %a{href: "#"} 電話番号の確認
    %li
      %a{href: "/user/new"} ログアウト
  