.top_middle_dl__inner
  .top_middle_dl__inner__subtitle
    会員数日本一位
  .top_middle_dl__inner__text
    FURIMAは、フリマアプリで最も人気。
    %br/
    出品・購入回数も業界最多です！
    %br/
    ほしかったあの商品に出会えるかもしれません。
  .top_middle_dl__inner__btn
    .a_btn
      = link_to "#" do
        = image_tag 'pict/app-store.svg'
    .b_btn
      = link_to "#" do
        = image_tag 'pict/google-play.svg'
