.select-pay
  .select-pay__header
    支払い方法
  .select-pay__clearfix
    .select-pay__clearfix__detail-card-info
      .card-info__header
        クレジットカード一覧
      .card-info__card-company
        visa
      .card-info__card-no
        ********3456
      .card-info__card-expiration
        1/25
    .select-pay__clearfix__delete-card-info
      = link_to "削除する", class: 'select-pay__clearfix__delete-card-info__delete-btn'