.header{
  color: $black;
  background:$white;
  height: 97.55px;
  width: calc(100vw - 120px);
  padding: 0 60px;
  &__inner{
    padding-top: 15px;
    .main_header{
      height: 50.55px;
      display: flex;
      justify-content: space-between;
      .icon{
        height: 40.55px;
        width: 170px;
        background:$l-color;
        background-repeat: no-repeat;
        background-size: 140px;
        margin: 0 30px 0 0;
        padding: 0 0 10px;
      }
      .search_box{
        height: 41px;
        width: calc(100vw - 290px);
        display: flex;
        justify-content: space-between;
        &__input{
          height: 32px;
          width: calc(100vw - 120px);
          background: $white;
          &__word{
            height: 100%;
            width: 100%;
          }
        }
        &__btn{
          height: 20px;
          width: 19.61px;
          background: $light_blue;
          font-size: 11px;
          padding: 8px;
          a{
            img{
              height: 20px;
              width: 20px;
            }
          }
        }
      }
    }
    .nav{
      height: 32px;
      margin-bottom: 10px;
      display: flex;
      justify-content: space-between;
      .lists_left{
        display: flex;
        position: relative;
        &__item{
          padding-left: 16px;
          a{
            color: $black;
            text-decoration: none;
            font-size: 14px;
            line-height: 32px;
            
          }
        }
        
      }
      .lists_right{
        display: flex;
        position: relative;
        &__item{
          padding-left: 16px;
          a{
            color: $black;
            text-decoration: none;
            font-size: 14px;
            line-height: 32px;
          }
        }
      }
    }
  }
}