.top_introduction{
  padding: 60px 100px;
  .subtitle{
    text-align: center;
    color: $black;
    font-size: 26px;
    font-weight: bold;
    margin:0 0 25px;
    position: relative;
  }
  .after{
    position: absolute;
    left: calc(50vw - 135px);
    margin-top: 15px;
    border-bottom: 4px;
    width: 70px;
    height: 4px;
    background: $light_blue;
  }
  .lists{
    display: flex;
    .list{
      margin: 16px 5% 0 0;
      &__img_1{
        background: $p-01;
        background-size: cover;
        height: 306px;
        width: 306px;
        span{
          line-height: 56.69px;
          text-align: center;
          font-size: 30px;
          color: $white;
          background: $light_blue;
          float: left;
          height: 56.69px;
          width: 55px;
        }
      }
      &__img_2{
        background: $p-02;
        background-size: cover;
        height: 306px;
        width: 306px;
        span{
          line-height: 56.69px;
          text-align: center;
          font-size: 30px;
          color: $white;
          background: $light_blue;
          float: left;
          height: 56.69px;
          width: 55px;
        }
      }
      &__img_3{
        background: $p-03;
        background-size: cover;
        height: 306px;
        width: 306px;
        span{
          line-height: 56.69px;
          text-align: center;
          font-size: 30px;
          color: $white;
          background: $light_blue;
          float: left;
          height: 56.69px;
          width: 55px;
        }
      }
      &__text{
        text-align: center;
        font-size: 24px;
        font-weight: bold;
        line-height: 50px;
        padding-top: 30px;
        span{
          color: $light_blue;
        }
      }
      &__description{
        font-size: 18px;
        line-height: 1.5;
        margin: 16px 0 0;
      }
    }
  }
}