.content-credit{
  width: 700px;
  height: 358px;
  background-color: #ecdbdb;
  float: right;
  &__pay{
    text-align: center;
    font-size: 25px;
    border-bottom: 1px solid #f5f5f5;
    margin: 20px 0;
  }
  &__howto-pay{
    text-align: right;
    margin: 30px 70px 0 0;
    a{
      color: #0099e8;
      text-decoration: none;
    }
  }
}