.detail
  .detail_header
    .detail_header_top
    .detail_header_main FURIMA>ベビー・キッズ>ベビー服(男女兼用)> ~95cmアウター >product3
  .detail_content
    .detail_content_main_box
      .detail_content_main_box-name 商品名
      .detail_content_main_box-image
        %img{:alt => "ライオンの画像", :border => "0", :height => "350", :src => "https://www.homepage-tukurikata.com/image/lion.jpg", :width => "500"}/
      .detail_content_main_box-subimage1
        %img{:alt => "ライオンの画像", :border => "0", :height =>"100", :src=>"https://www.homepage-tukurikata.com/image/lion.jpg", :width => "150"}/
        %img{:alt => "ライオンの画像", :border => "0", :height =>"100", :src=>"https://www.homepage-tukurikata.com/image/lion.jpg", :width => "150"}/
      %br
      .detail_content_main_box-price
        .detail_content_main_price ￥3,000
        .detail_content_main_tax (税込)送料込み
      %br
      .detail_content_main_name 商品名
      .detail_table
        %table
          %tbody
            %tr
              %td 出品者
              %td 井口
            %tr
              %td カテゴリ
              %td 人間
            %tr
              %td ブランド
              %td 男
            %tr
              %td 商品のサイズ
              %td XL
            %tr
              %td 商品の状態
              %td 子供嫌い
            %tr
              %td 配送料の負担
              %td 送料別（購入者負担）
            %tr
              %td 配送元の地域
              %td 神奈川県
            %tr
              %td 発送日の目安
              %td 1年後
    .detail_content_link
      %p < 前の商品
      %p > 次の商品
    .detail_content_related
      ベビー・キッズ をもっと見る
  .detail_footer
