.top_introduction__subtitle
  FURIMAが選ばれる3つの理由
  .top_introduction__after
%ul.top_introduction__lists
  %li.top_introduction__list
    .top_introduction__list__img_1
      %span 1
    .top_introduction__list__text
      %span 3分
      ですぐに出品
    .top_introduction__list__description
      スマホで入力するだけで簡単に出品できる！
  %li.top_introduction__list
    .top_introduction__list__img_2
      %span 2
    .top_introduction__list__text
      %span シンプル
      で使いやすい
    .top_introduction__list__description
      めんどくさい入力は必要なく、検索も購入もスムーズ！
  %li.top_introduction__list
    .top_introduction__list__img_3
      %span 3
    .top_introduction__list__text
      手数料
      %span 業界最安
    .top_introduction__list__description
      スマホで入力するだけで簡単に出品できる！