$i-01:image-url("icon/icon-01.png");
$i-02:image-url("icon/icon-02.png");
$i-03:image-url("icon/icon-03.png");
$i-04:image-url("icon/icon-04.png");
$i-brand:image-url("icon/icon-04.png");
$i-camera:image-url("icon/icon_camera.png");
$i-category:image-url("icon/icon_category.png");
$i-search:image-url("icon/icon_search.png");
$i-noimage:image-url("icon/member_photo_noimage_thumb.png");
$l-white:image-url("logo/logo-white.png");
$l-color:image-url("logo/logo.png");
$p-01:image-url("pict/pict-reason-01.jpg");
$p-02:image-url("pict/pict-reason-02.jpg");
$p-03:image-url("pict/pict-reason-03.jpg");
$p-banner:image-url("pict/bg-appBanner-pict");
$p-visual:image-url("pict/bg-mainVisual-pict_pc");
$p-middle:image-url("pict/bg-topMiddleDl-pict");
